/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Menu
 */

.top-bar {
    z-index: 100;
}

.top-bar-section ul {
    background: transparent;
}

.side-nav li.divider {
    border-top-color: #333;
}

.background-black .side-nav li.divider {
    border-top-color: #ccc;
}

.sidebar {
    height: 100vh;
    position: relative;
}

.sidebar .secondary.side-nav {
    position: absolute;
    bottom: 0;
    width: 85%;
}

.sidebar h1 {
    font-size: 1.5rem;
}

@media only screen and (min-width: 1350px) {
    .sidebar h1 {
        font-size: 2.0rem;
    }
}

.inner-wrap {
    min-height: 100vh; /* Display aside menu in full height */
}

.sidebar a,
.side-nav li a:not(.button) {
    color: #333;
}

.background-black .sidebar a,
.background-black .side-nav li a:not(.button) {
    color: #ccc;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
    color: #111;
}

.background-black .side-nav li a:not(.button):hover,
.background-black .side-nav li a:not(.button):focus {
    color: #fff;
}

.tab-bar-section .title a {
    color: #fff;
}

.side-nav li.heading,
.off-canvas-list li.heading {
    text-transform: inherit;
    font-weight: bold;
}

ul.side-sub-menu {
    list-style: none;
    margin-left: 0;
}

.side-nav ul.side-sub-menu {
    margin-bottom: 15px;
}

.off-canvas-list ul.side-sub-menu {
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}

#admin-link {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px;
}

#maintenance-indicator {
    color: #d8432e;
}

/*
 * UI main elements
 */

#content {
    margin-top: 30px;
}

#flash {
    position: fixed;
    top: 25px;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    z-index: 1000;
}

#to-top {
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media only screen and (max-width: 40em) {
    #to-top {
        padding: 4px;
        bottom: 0;
    }
}

#error-page {
    padding-top: 5vh;
}

table {
    border: none;
}

.background-black table {
    background: #000;
}

.background-black,
.background-black .top-bar,
.background-black .top-bar-section li:not(.has-form) a:not(.button),
.background-black .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #000;
    color: #efefef;
}

.background-black h1, .background-black h2, .background-black h3,
.background-black h4, .background-black h5, .background-black h6,
.background-black label {
    color: #efefef;
}

.coming-soon {
    font-size: 3em;
    color: #999;
    text-align: center;
    margin-top: 10%;
}

fieldset legend {
    background: none;
}

/*
 * Homepage
 */

#homepage {
    position: relative;
    height: 80vh;
    text-align: center;
    display: block;
}

#homepage h1 {
    position: absolute;
    top: 40%;
    height: 80px;
    width: 100%;
}

/*
 * Gallery pre-loader
 */

.hold-on {
    background: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.background-black .hold-on {
    background: #000;
}

/*
 * Gallery slideshow
 */

.slick-initialized .slick-slide {
    text-align: center;
}

.slick-initialized .slick-slide img {
    display: inline-block;
}

.gallery-slider .slick-slide img {
    max-height: 80vh;
}

.gallery-full-screen .gallery-slider .slick-slide img {
    max-height: 75vh;
    margin-top: 5vh;
}

@media only screen and (max-height: 760px) {
    .gallery-slider .slick-slide img {
        max-height: 74vh;
    }
    .gallery-full-screen .gallery-slider .slick-slide img {
        max-height: 72vh;
        margin-top: 3vh;
    }
}

@media only screen and (max-height: 750px) and (max-width: 1024px) {
    /* Display slide legend when top menu is displayed */
    .gallery-thumb .gallery-slider .slick-slide img {
        max-height: 67vh;
    }
}

@media only screen and (max-height: 500px) {
    .gallery-slider .slick-slide img {
        max-height: 68vh;
    }
}

@media only screen and (min-width: 570px) and (max-height: 550px) {
    /* Display slide legend when thumbs are displayed and screen is tight but wide */
    .gallery-thumb .gallery-slider .slick-slide img {
        max-height: 58vh;
    }
}

/* Navigation links */

.gallery-slider .slick-arrow {    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.gallery-slider .slick-prev {
    left: -25px;
}

.gallery-slider .slick-prev:before {
    content: '←';
}

.gallery-slider .slick-next {
    right: -25px;
}

.gallery-slider .slick-next:before {
    content: '→';
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background-black .slick-prev:before, .background-black .slick-next:before {
    color: #fff;
}

/*
 * Gallery full screen
 */

.gallery-full-screen {
    height: 100vh;
    overflow: hidden;
}

.gallery-full-screen #content,
.gallery-full-screen .slide {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gallery-extended #content,
.gallery-extended .slide {
    background-size: cover;
}

.gallery-full-screen .top-bar {
    background: none;
    position: fixed;
    width: 100%;
}

.gallery-full-screen .top-bar ul {
    background: #333;
    opacity: 0.4;
}

.gallery-full-screen .top-bar ul ul {
    opacity: 1;
}

/* Gallery bottom thumbs */

body.gallery-full-screen .caption {
    padding-top: 10px;
    margin-bottom: 90px;
}

#slide-thumbs {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    background: #fff;
    margin-bottom: 0;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    cursor: auto !important;
}

#slide-thumbs table {
    margin-bottom: 0;
    table-layout: auto;
}

#slide-thumbs table tr td {
    padding: 0 2px 0;
}

#slide-thumbs img {
    height: 16vh;
    max-width: none;
}

@media only screen and (min-height: 775px) {
    #slide-thumbs img {
        height: 12vh;
    }
}

.background-black #slide-thumbs {
    border-color: #000;
    background: #000;
}

.scroll-fix {
    width: 300px;
}

@media only screen and (max-width: 1200px) {
    .scroll-fix {
        width: 150px;
    }
}

/*
 * Gallery masonry
 */

.slide-block {
    width: 220px;
    padding: 5px;
}

.slide-block .caption {
    display: none;
}

.slide-block.big-slide {
    width: 440px;
}

.slide-block.big-slide .caption {
    display: block;
}

/*
 * Blog
 */

.content-blog .post {
    margin-bottom: 45px;
}

/*
 * Maps
 */

.content-map #content {
    height: 100vh;
    margin-top: 0;
}

.content-map #content .map {
    height: 100%;
}

.content-map .main-nav.top-bar {
    position: fixed;
    width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
