{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~widgets.section_body_classes(section) %}

{% block title widgets.section_title(section, parent()) %}

{% block main -%}
{% if section.hasPlacesWithCoordinates and settings.mapsKey|length %}
    <div id="map-{{ section.id }}" class="map"></div>
{% else %}
    <p class="coming-soon">
        {{ 'section.coming.soon'|trans }}
    </p>
{% endif %}
{%- endblock main %}

{% block javascripts %}
    {{ parent() }}
    {% include "frontend/map/map.js.twig" with {'section': section} only %}
{% endblock javascripts %}
