{% extends "frontend/layout.html.twig" %}

{% import "widgets.html.twig" as widgets %}

{% block body_class parent() ~ widgets.section_body_classes(section) %}

{% block title widgets.section_title(section, parent()) %}

{% block main -%}
{% if section.hasPages %}
<div class="row">
  <div class="large-12 columns">
    {% set content = (section.pages|first).content %}
    {% if not content|length %}
      <p class="coming-soon">
        {{ 'section.coming.soon'|trans }}
      </p>
    {% else %}
      {% include template_from_string(widgets.inclusion_replace_keys(content)) %}
    {% endif %}
  {# Pagination #}
  {% if section.pages|length > 1 %}
  <ul class="pagination">
    {% for item in section.pages %}
    <li>
      <a href="#"
         title="{{ item.title }}">
        {{ loop.index }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>
{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
