{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div class="row">
    <div class="medium-6 columns">
        <p>{{ 'maps.integrations.description'|trans }}</p>
    </div>
    <div class="medium-6 columns">
    </div>
</div>
{% endspaceless %}