<section>
  <p class="title" data-section-title>
    <a href="#">{{ section.title }}</a>
  </p>
  <div class="content" data-section-content>
    <p>{{ section.description|nl2br }}</p>
    {% block content %}{% endblock %}
  </div>
</section>
