{% spaceless %}
<dd>
  <a href="#panel{{ section.id }}">{{ section.title }}</a>
  <div class="content page" id="panel{{ section.id }}">
    <p>{{ section.description|nl2br }}</p>
    Page
  </div>
</dd>
{% endspaceless %}