/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Menu
 */

.top-bar {
    z-index: 100;
}

.top-bar-section ul {
    background: transparent;
}

.side-nav li.divider {
    border-top-color: #fff;
}

#admin-link {
   position: fixed;
   bottom: 0px;
   right: 30px;
}

#maintenance-indicator {
    color: #d8432e;
}

/*
 * UI main elements
 */

#content {
    margin-top: 30px;
}

#flash {
    position: fixed;
    top: 25px;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    z-index: 1000;
}

#to-top {
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.background-black,
.background-black .top-bar,
.background-black .top-bar-section li:not(.has-form) a:not(.button),
.background-black .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #000;
    color: #efefef;
}

.background-black h1, .background-black h2, .background-black h3,
.background-black h4, .background-black h5, .background-black h6,
.background-black label {
    color: #efefef;
}

.coming-soon {
    font-size: 3em;
    color: #999;
    text-align: center;
    margin-top: 10%;
}

/*
 * Homepage
 */

#homepage {
    position: fixed;
    top: 40%;
    left: 0px;
    height: 180px;
    width: 100%;
    text-align: center;
}

.content-homepage.hide-menu-on-homepage .top-bar {
    display: none;
}

/*
 * Gallery preloader
 */

.hold-on {
    background: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.background-black .hold-on {
    background: #000;
}

/*
 * Gallery slideshow
 */

.orbit-container .orbit-slides-container img {
    display: inline-block;
}

.orbit-container .orbit-prev {
    display: none;
}

.orbit-container .orbit-next {
    display: block;
    opacity: 0;
    top: 0%;
    left: 0%;
    right: auto;
    width: 100%;
    height: 100%;
    cursor: default;
}

body.gallery-slideshow .orbit-container .orbit-slides-container > * .orbit-caption {
    position: initial;
    background: none;
    color: #333;
}

body.gallery-slideshow.background-black
.orbit-container .orbit-slides-container > * .orbit-caption {
    color: #eee;
}

body.gallery-slideshow .orbit-slides-container img {
    max-height: 80vh;
}

/*
 * Gallery fullscreen
 */

body.gallery-fullscreen {
    height: 100vh;
    overflow: hidden;
}

.gallery-fullscreen #content,
.gallery-fullscreen .slide {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gallery-extended #content,
.gallery-extended .slide {
    background-size: cover;
}

.gallery-fullscreen .top-bar {
    background: none;
    position: fixed;
    width: 100%;
}

.gallery-fullscreen .top-bar ul {
    background: #333;
    opacity: 0.4;
}

.gallery-fullscreen .top-bar ul ul {
    opacity: 1;
}

body.gallery-fullscreen .orbit-container .orbit-slides-container > * .orbit-caption {
    background: #333;
    opacity: 0.4;
}

/* Gallery fullscreen thumbs */
#slide-thumbs {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

#slide-thumbs .scroll-link {
    min-width: 75px;
    width: 10%;
    height: 100%;
    position: absolute;
    z-index: 200;
}

#slide-thumbs .scroll-left {
    background-color: #ccc;
    left: 0;
    cursor: url("cursors/cursor_arrow_left.png"),
        url("cursors/cursor_arrow_left.cur"), w-resize;
}

#slide-thumbs .scroll-right {
    background-color: #ccc;
    right: 0;
    cursor: url("cursors/cursor_arrow_right.png"),
        url("cursors/cursor_arrow_right.cur"), e-resize;
}

#slide-thumbs div.scroll-area a {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slide-thumbs div.scroll-area a img {
    height: 15vh;
}

/*
 * Gallery masonry
 */

.slide-block {
    width: 220px;
    padding: 5px;
}

.slide-block .caption {
    display: none;
}

.slide-block.big-slide {
    width: 440px;
}

.slide-block.big-slide .caption {
    display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
