{% spaceless %}
<div class="row">
  <div class="medium-6 columns">
  </div>
  <div class="medium-6 columns">
    {% include 'backend/contentManager/_hideButton.html.twig' with {
        'section': section
    } only %}
    {% include 'backend/contentManager/_deleteForm.html.twig' with {
    'id': section.id,
    'delete_form': delete_form,
    'action_path': path('admin_form_manager_delete', {'id': section.id}),
    'info': 'form.delete.form'
    } only %}
  </div>
</div>
{% endspaceless %}