<?php

return [
    'prefix' => 'expose_',
    'driver' => 'pdo_mysql',
    'host' => 'localhost',
    'port' => 3306,
    'socket' => '',
    'dbname' => 'exposedb',
    'user' => 'root',
    'password' => '',
];
