{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~widgets.section_body_classes(section) %}

{% block title widgets.section_title(section, parent()) %}

{% block main -%}
{% if section.hasItems %}

{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}

{% block javascripts %}
{{ parent() }}
{% endblock javascripts %}
