{% spaceless %}
<button class="button tiny secondary"
        data-toggle-section="{{ path('admin_content_manager_toggle_section', {'id': section.id}) }}">
  <span class="toggle-section-hide">
    {{ 'section.hide'|trans }}
  </span>
  <span class="toggle-section-show">
    {{ 'section.display'|trans }}
  </span>
</button>
{% endspaceless %}