{% spaceless %}
<ul class="gallery-slideshow" data-orbit>
  {% for row, slide in section.items('Slide') if slide.published %}
    <li data-orbit-slide="pic-{{ row }}">
      <div class="slide"
           style="background-image: url('{{ app.request.basepath }}/gallery/{{ slide.path }}');"></div>
      {{ widgets.gallery_slide_legend(slide, section, 'orbit-caption') }}
     </li>
  {% endfor %}
</ul>
{% include "frontend/gallery/_thumbList.html.twig" with { 'section': section } only %}
{% endspaceless %}
