{% spaceless %}
<div class="gallery-slider">
  {% for row, slide in section.slides if slide.published %}
      <div>
          <div class="slide"
               style="background-image: url('{{ app.request.basepath }}/gallery/{{ slide.path }}');"></div>
          {{ widgets.gallery_slide_legend(slide, section) }}
      </div>
  {% endfor %}
</div>
{% include "frontend/gallery/_thumbList.html.twig" with { 'section': section } only %}
{% endspaceless %}
