{% spaceless %}
{% for slide in section.slides if slide.published %}
<div class="slide-block">
  <img src="{{ app.request.basepath }}/gallery/1200/{{ slide.path }}"
       alt="{{ slide.title|e }}">
  {{ widgets.gallery_slide_legend(slide, section) }}
</div>
{% endfor %}
{% endspaceless %}
