{% spaceless %}
<div class="row">
  <div class="large-12 columns">
    <ul class="gallery-slideshow" data-orbit>
      {% for slide in section.items %}
      <li class="text-center">
        <img src="{{ app.request.basepath }}/gallery/1200/{{ slide.path }}"
             alt="{{ slide.title|e }}">
        {{ widgets.gallery_slide_legend(slide, section, 'orbit-caption') }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endspaceless %}