{% spaceless %}
<div class="row">
    <div class="large-12 columns">

        <div class="gallery-slider">
            {% for row, slide in section.slides if slide.published %}
                <div>
                    <img data-lazy="{{ app.request.basepath }}/gallery/1200/{{ slide.path }}"
                         alt="{{ slide.title|e }}">
                    {{ widgets.gallery_slide_legend(slide, section) }}
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% include "frontend/gallery/_thumbList.html.twig" with { 'section': section } only %}
{% endspaceless %}