{% spaceless %}
{% if section.thumbList %}
<div id="slide-thumbs">
    {% for row, slide in section.slides if slide.published %}
        <div>
            <a data-orbit-link="pic-{{ row }}"
               title="{{ slide.title|e }}">
                <img data-lazy="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
            </a>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endspaceless %}
