{% spaceless %}
{% if section.thumbList %}
<div id="slide-thumbs" class="large-10 medium-9 columns">
    {% for row, slide in section.slides if slide.published %}
        <div>
            <img data-lazy="{{ app.request.basepath }}/gallery/220/{{ slide.path }}"
                    alt="{{ slide.title|e }}">
        </div>
    {% endfor %}
</div>
{% endif %}
{% endspaceless %}
