{% spaceless %}
{% if section.thumbList %}
<div id="slide-thumbs">
  <table>
    <tbody>
      <tr>
        {% for row, slide in section.slides if slide.published %}
        <td>
          <a data-orbit-link="pic-{{ row }}"
             title="{{ slide.title|e }}">
            <img src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
          </a>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
{% endspaceless %}
