{% extends "frontend/layout.html.twig" %}

{% if section.thumb_list %}{% set thumb_class = ' gallery-thumb' %}{% else %}{% set thumb_class = '' %}{% endif %}
{% block body_class parent()~widgets.section_body_classes(section)~' gallery-'~section.gallery_mode~thumb_class %}

{% block head %}
  {{ parent() }}
  {% include "frontend/gallery/preloader.css.twig" %}
{% endblock head %}

{% block javascripts %}
{% if 'masonry' == section.gallery_mode %}
  {% include "frontend/gallery/_masonry.js.twig" %}
{% else %}
  {{ parent() }}
{% endif %}
{% endblock javascripts %}

{% block foundation_js %}
{% if section.isSlidable %}
  {% include "frontend/gallery/_slideshow.js.twig" %}
{% else %}
  {{ parent() }}
{% endif %}
{% endblock foundation_js %}

{% block main -%}
{% if section.hasItems %}
  <div id="gallery" class="hidden">
    {% include "frontend/gallery/_"~ section.gallery_mode ~".html.twig" %}
  </div>
  <div class="sandglass">
    <span id="sandglass_1"></span>
    <span id="sandglass_2"></span>
    <span id="sandglass_3"></span>
  </div>
{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
