{% extends "frontend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="medium-6 medium-centered columns">
    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}
  </div>
</div>
{%- endblock main %}
