{% extends "frontend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-12 columns">
    <ul class="gallery-slideshow" data-orbit>
      {% for item in items %}
      <li>
        <img src="{{ app.request.basepath }}/gallery/{{ item.path }}" alt="{{ item.title|e }}">
        {% if item.description|length %}
        <div class="orbit-caption">
          {{ item.description|nl2br }}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%- endblock main %}
