{% extends "layout.html.twig" %}

{% block head %}
<style>
{{ site.customStyle|raw }}
</style>
{% endblock head %}

{% block javascripts %}
<script>
{{ site.customJavascript|raw }}
</script>
{% endblock javascripts %}

{% set hideMenuOnHomepage = site.hideMenuOnHomepage ? ' hide-menu-on-homepage' : ''%}
{% block body_class parent()~' background-'~site.layoutBackground~hideMenuOnHomepage %}

{% block content -%}
{% if 'top' == site.menuPosition %}
  {% set content_classes = '' %}
  {% include "frontend/_menuTop.html.twig" only %}
{% endif %}
{% if 'left' == site.menuPosition %}
  {% set content_classes = 'large-9 medium-8 columns' %}
  <div class="large-3 medium-4 columns">
    {% include "frontend/_menuLeft.html.twig" only %}
  </div>
{% endif %}
  <div id="content" class="{{ content_classes }}">
    {% block main %}{% endblock %}
  </div>
{%- endblock content%}
