{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~' content-page' %}

{% block main -%}
<div class="row">
  <div class="large-12 columns">
  {% if items|length %}
    {% set content = (items|first).content|replace({
      '__path:gallery__': app.request.basepath~'/gallery',
    }) %}
    {% include template_from_string(content) %}
  {% endif %}
  {# Pagination #}
  {% if items|length > 1 %}
  <ul class="pagination">
    {% for item in items %}
    <li>
      <a href="#"
         title="{{ item.title }}">
        {{ loop.index }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>
{%- endblock main %}
