{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~' content-page' %}

{% block main -%}
{% if items|length %}
<div class="row">
  <div class="large-12 columns">
    {% set content = (items|first).content|replace({
      '__path:gallery__': app.request.basepath~'/gallery',
    }) %}
    {% if not content|length %}
      <p class="coming-soon">
        {{ 'content.coming.soon'|trans }}
      </p>
    {% else %}
      {% include template_from_string(content) %}
    {% endif %}
  {# Pagination #}
  {% if items|length > 1 %}
  <ul class="pagination">
    {% for item in items %}
    <li>
      <a href="#"
         title="{{ item.title }}">
        {{ loop.index }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>
{% else %}
<p class="coming-soon">
  {{ 'content.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
