{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~widgets.section_body_classes(section) %}

{% block title widgets.section_title(section, parent()) %}

{% block main -%}
{% if section.hasVideos %}
  {% if item|length %}
    {% set video = item %}
  {% else %}
    {% set video = section.videos|first %}
  {% endif %}
  <div class="row">
    <div class="large-12 columns">
      {% include "frontend/channel/_"~ video.provider ~".html.twig" %}
    </div>
  </div>
  {% if section.hasMultiplePages %}
  <div class="row">
    <div class="large-12 columns">
      <dl class="sub-nav">
      {% for videos in section.videos if videos.published %}
      <dd{% if videos.id == video.id %} class="active"{% endif %}>
        <a href="{{ path('section_item', {'slug': section.slug, 'itemSlug': videos.slug}) }}">
          {{ videos.title }}
        </a>
      </dd>
      {% endfor %}
      </dl>
    </div>
  </div>
  {% endif %}
{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
