{% spaceless %}
<div class="row">
  <div class="medium-6 columns">
  </div>
  <div class="medium-6 columns">
    {% include 'backend/contentManager/_interactionsLinks.html.twig' with {
    'section': section,
    'delete_form': delete_form,
    'action_path': path('admin_video_manager_delete', {'id': section.id}),
    'info': 'video.delete.section'
    } only %}
  </div>
</div>
{% endspaceless %}